:root{
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
    --green: #018749;
    --yellow: #ffff00;
    --blue: #0DAAE2;
  }
  
  
  .topnav {
      overflow: hidden;
      background-color: #333;
      color: white;  
  }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    #welcome {
        background-color: #ffff00;
        margin: 0 auto 0 auto;
        width: 95%;
        padding: 20px;
        border: 2px solid black;
        border-radius: 4px;
    }

    .container {
        background-color: var(--blue);
        margin: auto;
        width: 95%;
        padding: 20px;
        border: 2px solid #36383F;
        border-radius: 5px;
    }